#cs-widget-chart {
  @import '../../../node_modules/bootstrap/scss/bootstrap.scss';
  font-size: 16px;
  min-width: 320px;
  .nav-link {
    cursor: pointer;
    margin-bottom: 0.5rem;
    border: solid 2px #fff;
    &:before {
      display: none !important;
    }
    &.People {
      color: #db356a;
      &:hover,
      &.active {
        border-color: #db356a;
      }
      &.active {
        background-color: #db356a;
      }
    }
    &.Process {
      color: #26a2dc;
      &:hover,
      &.active {
        border-color: #26a2dc;
      }
      &.active {
        background-color: #26a2dc;
      }
    }
    &.Technology {
      color: #9dc555;
      &:hover,
      &.active {
        border-color: #9dc555;
      }
      &.active {
        background-color: #9dc555;
      }
    }
    &.Information {
      color: #f36c21;
      &:hover,
      &.active {
        border-color: #f36c21;
      }
      &.active {
        background-color: #f36c21;
      }
    }
    &.active {
      color: #ffffff !important;
    }
    &:focus {
      outline: none;
    }
  }

  .card-header {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
  }

  .tab-pane {
    .list-group-item {
      cursor: pointer;
    }
    &.People {
      .list-group-item.selected,
      .list-group-item:hover,
      .checkbox,
      .card-header:hover {
        color: #db356a;
      }
      .selected.card-header,
      .selected.card-header:hover {
        background-color: #db356a;
        color: #ffffff;
        .checkbox {
          color: #ffffff !important;
        }
      }
    }
    &.Process {
      .list-group-item.selected,
      .list-group-item:hover,
      .checkbox,
      .card-header:hover {
        color: #26a2dc;
      }
      .selected.card-header,
      .selected.card-header:hover {
        background-color: #26a2dc;
        color: #ffffff;
        .checkbox {
          color: #ffffff !important;
        }
      }
    }
    &.Technology {
      .list-group-item.selected,
      .list-group-item:hover,
      .checkbox,
      .card-header:hover {
        color: #9dc555;
      }
      .selected.card-header,
      .selected.card-header:hover {
        background-color: #9dc555;
        color: #ffffff;
        .checkbox {
          color: #ffffff !important;
        }
      }
    }
    &.Information {
      .list-group-item.selected,
      .list-group-item:hover,
      .checkbox,
      .card-header:hover {
        color: #f36c21;
      }
      .selected.card-header,
      .selected.card-header:hover {
        background-color: #f36c21;
        color: #ffffff;
        .checkbox {
          color: #ffffff !important;
        }
      }
    }
  }

  .button-results {
    background-color: #3067db;
    border-color: #3067db;
    color: #fff;
    border-radius: 30px !important;
    &:hover {
      color: #fff;
    }
    &[disabled] {
      background-color: rgba(0, 0, 0, 0.03);
      border-color: rgba(0, 0, 0, 0.03);
      color: #999;
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        border-color: rgba(0, 0, 0, 0.1);
        color: #999;
      }
    }
  }

  .button-getintouch-outline {
    background-color: #fff;
    border-color: #fff;
    color: #999;
    border-radius: 30px !important;
    &:hover {
      background-color: #fff;
      border-color: #3067db;
      color: #3067db;
    }
  }

  .survey-top-nav {
    .btn-link {
      display: block;
      text-align: center;
      padding: 0.5rem;
      width: 100%;
      margin-bottom: 1rem;
      &:hover,
      &.active {
        color: #fff;
        text-decoration: none !important;
      }
      &.People {
        color: #db356a;
        &.active {
          background-color: #db356a;
          color: #fff;
        }
      }
      &.Process {
        color: #26a2dc;
        &.active {
          background-color: #26a2dc;
          color: #fff;
        }
      }
      &.Technology {
        color: #9dc555;
        &.active {
          background-color: #9dc555;
          color: #fff;
        }
      }
      &.Information {
        color: #f36c21;
        &.active {
          background-color: #f36c21;
          color: #fff;
        }
      }
    }
  }

  .yAxis {
    list-style: none;
    li:after {
      content: '';
      width: 1rem;
      display: block;
      border-bottom: solid 1px #dee2e6;
    }
  }

  .graph-wrapper {
    position: relative;
    small {
      font-size: 12px;
    }
  }
  .area-info {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    .result-content {
      background-color: #fff;
      font-size: 14px;
      line-height: 20px;
      padding: 1rem;
      .close {
        position: absolute;
        top: 10px;
        right: 30px;
      }
      &.People {
        h3,
        h5 {
          color: #db356a;
        }
      }
      &.Process {
        h3,
        h5 {
          color: #26a3dc;
        }
      }
      &.Technology {
        h3,
        h5 {
          color: #9cc454;
        }
      }
      &.Information {
        h3,
        h5 {
          color: #e38a3c;
        }
      }
    }
  }

  .graph-bar {
    .bar {
      cursor: pointer;
      padding: 20px 5px;
      &:hover,
      &.active {
        opacity: 0.5;
      }
      &.People {
        background-color: #db356a;
      }
      &.Process {
        background-color: #26a3dc;
      }
      &.Technology {
        background-color: #9cc454;
      }
      &.Information {
        background-color: #e38a3c;
      }
    }
  }

  ul {
    list-style: disc !important;
    padding-left: 1.5rem !important;
  }
  ol,
  p,
  ul {
    font-size: 16px;
    line-height: 1.45;
  }
  li {
    margin-bottom: 0.5rem;
  }
  button.more-info:hover {
    background-color: transparent;
    color: white;
  }

  .button-getintouch {
    background-color: #3067db;
    border-color: #3067db;
    color: #fff;
    border-radius: 30px !important;
  }
  @include media-breakpoint-up(sm) {
    .bar {
      padding: 20px 10px !important;
      margin: 0 10px;
    }
  }
  @include media-breakpoint-up(md) {
    .result-content {
      padding: 20px 2rem !important;
      .close {
        top: 15px !important;
        right: 35px !important;
      }
    }
    .graph-wrapper small {
      font-size: 14px;
    }
    .bar {
      padding: 16px !important;
      margin: 0 15px;
    }
  }

  @include media-breakpoint-up(lg) {
    .result-content {
      padding: 3rem !important;
      .close {
        top: 20px !important;
        right: 40px !important;
      }
    }
    .graph-wrapper small {
      font-size: 16px;
    }
    .bar {
      padding: 30px !important;
      margin: 0 30px;
    }
  }
}
